.button {
	padding: 10px 50px;
	background-color: #dddddd;
	border-radius: 6px;
	display: inline-grid;
	place-items: center;
	transition: opacity 0.3s, background-color 0.3s ;
	font-weight: 700;
	font-size: 20px;
	&:not(:last-child) {
		margin-right: 20px;
	}
	&:disabled {
		cursor: not-allowed;
	}
}

.button:hover{
	opacity: 0.7;
}

.button.active {
	background-color: rgb(21, 255, 0);
}